<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2 hvr-float">
      <div class="jumbotron giftron" id="hgif1" data-link="<%= products_earrings_path %>" >
        <div class="text-xs-center">
           <p class="lead">
              <a class="btn btn-secondary-outline sharp" href="/products/earrings" role="button">
                EARRINGS
              </a>
            </p>
        </div>
        <div class="bgimage-inside"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 hvr-float">
      <div class="jumbotron giftron" data-link="<%= products_necklaces_path %>" id="hgif2">
        <div class="text-xs-center">
           <p class="lead">
              <a class="btn btn-secondary-outline sharp" href="/products/necklaces" role="button">
                NECKLACES
              </a>
            </p>
        </div>
        <div class="bgimage-inside"></div>
      </div>
    </div>
  </div>
</div>
