<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h4>this is your tracking number. click the link</h4>
 <a href="https://tools.usps.com/go/TrackConfirmAction.action?tRef=fullpage&tLc=1&text28777=&tLabels=+<%= @charge.tracking %>"><%= @charge.tracking %></a>
  </body>
</html>

