<div class="container">
<!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Products</h1>
    </div>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <% if product.image == nil %>
        <p>no image </p>
      <% else %>
    <div class="col-md-3 col-sm-6">
      <%= link_to product do %>
        <%= image_tag product.image.image1.url ,
          class: "img-rounded", width: "200", height: "200" %>
        <%= product.name %>
      <% end %>
      <p>$<%= product.price %></p>
    </div>
      <% end %>
    <% end %>
  </div>

</div>
