<br>
<div class="container">
  <div id="prindex">
      <% if @products == nil %>
      <p>no products</p>
      <% else %>
      <div class="row">
        <% @products.each do |product| %>
          <% if product.image == nil %>
            <p>no image </p>
          <% else %>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%= link_to product do %>
            <%= image_tag product.image.image1.url ,
              class: "img-fluid" %>
            <%= product.name %>
          <% end %>
          <p>$<%= product.formatted_price %></p>
        </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
