<div class="container">
  <h1 class="text-xs-center">Orders</h1>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>name</th>
        <th>total</th>
        <th>date ordered</th>
      </tr>
    </thead>

      <% @charges.each do |charge| %>
    <tbody>
        <tr class="menu" data-link="<%= charge_path(charge) %>">
          <td><%= charge.name %></td>
          <td><%= charge.id %></td>
          <td><%= charge.created_at.strftime("%Y-%m-%d %T") %></td>
        </tr>
    </tbody>
      <% end %>
  </table>
</div>
